## Introduction

This is a template repository that helps you quickly bootstrap new projects with standardized documentation and workflows.

Features:
{% for feature in readme.features %}
- {{ feature }}
{% endfor %}
