## TODO

- [ ] auto TOC
- [ ] module summary w function signatures
- [ ] Setup instructions for hooking directly into API via gh secret
- [ ] Starter webpage built by gh-page

{% for item in readme.todo_items %}
- [ ] {{ item }}
{% endfor %}
